* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  font-family: "Lato", sans-serif;
}

html {
  touch-action: manipulation;
}

.main-container {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 1em 0.2em;
  font-size: 1.9em;
  text-align: center;
  text-shadow: 1px 1px rgb(58, 58, 58), 2px 2px rgb(58, 58, 58),
    3px 3px rgb(58, 58, 58), 4px 4px rgb(58, 58, 58);
  font-weight: 900;
  text-transform: uppercase;
}

.game-container {
  margin: 0 auto;
  max-width: 50em;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.player,
.computer {
  width: 50%;
}

#player-image {
  transform: scaleX(-1);
}

h3 {
  text-align: center;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-weight: 600;
}

.result-container {
  position: absolute;
  left: 0;
  right: 0;
}

.options-container {
  margin: 1em;
  margin-top: 3em;
  display: flex;
  flex-wrap: nowrap;
}

.option-button {
  font-weight: 400;
  width: 30%;
  height: 3em;
  display: block;
  margin: 1.5%;
  border-radius: 1em;
  font-size: 1em;
  border: 2px solid darkgray;
  background-color: rgb(77, 77, 77);
  text-transform: uppercase;
  color: white;
}

.option-button:focus {
  outline: 0;
}

button:active {
  /* animation: hit 0.15s ease-in-out 0 1 normal both; */
  animation-name: hit;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hit {
  0% {
    transform: scale(1);
  }

  35% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* .option-button:active {

} */

/* @-webkit-keyframes button-press {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes button-press {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
} */

.retry {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retry-button {
  width: 80%;
  font-weight: 400;
  height: 3em;
  margin: 1.5%;
  border-radius: 1em;
  font-size: 1.3em;
  border: 2px solid darkgray;
  background-color: rgb(177, 177, 177);
  text-transform: uppercase;
  color: black;
}

.retry-button:focus {
  outline: 0;
}

/* .retry-button:active {
  animation: button-press 0.2s ease-in-out;
} */

/* ANIMATIONS */

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-26 16:9:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-26 16:32:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(-1);
    transform: translateX(0) scaleY(1) scaleX(-1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(-1);
    transform: translateX(0) scaleY(1) scaleX(-1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
